input[type=text], textarea, input[type=url] {
    background-color: #40444b !important;
    border: none !important;
    color: white !important;
}

body {
    background-color: #36393f;
}

.title {
    color: white;
}

.hljs {
    background: #2F3136 !important;
    border: 1px solid #202225 !important;
    color: #b9bbbe !important;
}
  
.hljs-attr {
    color: #B58900 !important;
}
  
.hljs-literal, .hljs-string, .hljs-number {
    color: #2AA198 !important;
}

.button-primary {
    background-color: #7289DA !important;
    border: none !important;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    text-transform: none !important;
    font-weight: 500 !important;
}

span {
    color: white !important;
}