.title, .confirmation {
  text-align: center;
	font-size: 4rem;
	line-height: 1.6;
	letter-spacing: 0.05rem;
	font-weight: 500;
}

.reset {
  width: auto;
}

@media screen and (min-width: 800px) {
  .hook-form, .confirmation, .json {
    width: 35%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .hook-form, .confirmation, .json {
    margin: auto;
  }
}
.json {
  overflow: scroll;
}

.hljs {
  background: #F2F3F5;
}

.hljs-attr {
  color: #9445B0;
}

.hljs-sting {
  color: #A2162D;
}

.hljs-literal {
  color: #007b7b;
}